.no-shadow {
  box-shadow: none;
}

#map {
  height: 500px;
  margin-bottom: 50px;
}

.card-size {
  max-width: 22rem;
}

.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}